<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>
			{% block title %}Maleteo
			{% endblock %}
		</title>
		{% block stylesheets %}<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
			<link href="https://fonts.googleapis.com/css?family=Catamaran:400,500&display=swap" rel="stylesheet">
			<link rel="stylesheet" href="assets/styles/styles.css">
		{% endblock %}
	</head>
	{% block header %}
		<body>
			<div class="wrapper">
				<div class="container-fluid">
					<header class="header">
						<img src="assets/img/logo.svg" alt="Maleteo">
					</header>
				</div>
			</div>
		{% endblock %}
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
		{% block footer %}
			<footer class="footer">
				<div class="wrapper">
					<div class="container-fluid">
						<img src="assets/img/logo.svg" alt="Maleteo" class="footer__logo">
						<p class="footer__claim">
							Hecho con ❤️ en Málaga.
						</p>
					</div>
				</div>
			</footer>
		{% endblock %}
	</body>
</html>
