{% extends 'maleteo.html.twig' %}
{% block title %}Demos Maleteo
{% endblock %}
	{% block body %}
		<a href="{{ path('maleteo-home') }}">Página principal ></a>
		<ul class="row">
			{% for dem in demos %}
				<li class="col-md-4">
					<div class="opinion">
						<h3 class="opinion__blq simple-bubble text-large">{{ dem.nombre }}</h3>
						<p class="opinion__author text-large">{{ dem.email }}</p>
						<p class="opinion__author-address">{{ dem.ciudad }}</p>
					</div>
				</li>
			{% endfor %}
		</ul>
	{% endblock %}