{% extends 'maleteo.html.twig' %}

{% block body %}
	<ul class="row">
		{% for dem in demos %}
			<li class="col-md-4">
				<div class="opinions">
					<h3 class="opinions__blq simple-bubble text-large">{{ dem.nombre }}</h3>
					<p class="opinions__author text-large">{{ dem.email }}</p>
					<p class="opinions__author-address">{{ dem.ciudad }}</p>
				</div>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
