<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>
			{% block title %}Maleteo
			{% endblock %}
		</title>
		{% block stylesheets %}<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
			<link href="https://fonts.googleapis.com/css?family=Catamaran:400,500&display=swap" rel="stylesheet">
			<link rel="stylesheet" href="assets/styles/styles.css">
		{% endblock %}
	</head>
	{% block header %}
		<body>
			<div class="wrapper">
				<div class="container-fluid">
					<header class="header">
						<img src="assets/img/logo.svg" alt="Maleteo">
					</header>
				</div>
			</div>
		{% endblock %}
		{% block body %}
			<form
				action="{{ path('app_register') }}" method="POST">
				<!-- Aquí conectamos con la Demo introduciendo su path-->
				<p class="the-form__title heading3">
					Regístrate en Maleteo:
				</p>
				<div class="the-form__group">
					<label for="username">
						Nombre de usuario
					</label>
					<input type="text" id="inputUsername" class="the-form__input" name="username">
				</div>
				<div class="the-form__group">
					<label for="password">
						Contraseña
					</label>
					<input type="passwrod" id="inputPass" class="the-form__input" placeholder="" name="password">
				</div>
				<input type="submit" class="the-form__btn btn btn-lg btn-primary" value="Enviar" onclick="{{ path('maleteo-home') }}">
			</form>
		{% endblock %}
		{% block javascripts %}{% endblock %}
		{% block footer %}
			<footer class="footer">
				<div class="wrapper">
					<div class="container-fluid">
						<img src="assets/img/logo.svg" alt="Maleteo" class="footer__logo">
						<p class="footer__claim">
							Hecho con ❤️ en Málaga.
						</p>
					</div>
				</div>
			</footer>
		{% endblock %}
	</body>
</html>
