{% extends 'maleteo.html.twig' %}

{% block body %}
	<main>
		<div>
			<div class="wrapper">
				<div>
					<div class="row">
						<div class="col-md-12">
							<a class="breadcrumb-links col-md-3" href="{{ path('app_login') }}">Login ></a>
							<a href="{{ path('maleteo-home') }}" class="col-md-3">Página principal ></a>
						</div>
					</div>
					<div class="col-md-12">
						<h3 class="success col-md-offset-2 col-md-6">Usuario registrado correctamente</h3>
					</div>
					<div class="jumbo"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}